/* line 5, ../sass/style.scss */
body header#headerComponent {
  background: #ffffff;
  font-family: 'PT Sans', sans-serif;
  height: 120px;
  position: fixed;
  text-align: left;
  transition: all 0.4s ease;
  width: 100%;
  z-index: 2;
}
/* line 15, ../sass/style.scss */
body header#headerComponent .header-section {
  position: relative;
  z-index: 2;
}
/* line 19, ../sass/style.scss */
body header#headerComponent .header-section .logo-and-search .container {
  padding: 10px;
  transition: all 0.4s ease;
}
/* line 22, ../sass/style.scss */
body header#headerComponent .header-section .logo-and-search .container img {
  max-height: 100px;
  transition: all 0.4s ease;
}
/* line 29, ../sass/style.scss */
body header#headerComponent .header-section nav.main-nav {
  background: #004b88;
}
/* line 32, ../sass/style.scss */
body header#headerComponent .header-section nav.main-nav .container ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}
/* line 36, ../sass/style.scss */
body header#headerComponent .header-section nav.main-nav .container ul li {
  color: #ffffff;
  display: inline;
  font-size: 16px;
  padding: 10px 15px;
  transition: all 0.4s ease;
}
/* line 49, ../sass/style.scss */
body header#headerComponent.sticky {
  height: 50px;
  transition: all 0.4s ease;
}
/* line 54, ../sass/style.scss */
body header#headerComponent.sticky .header-section .logo-and-search .container {
  padding: 10px;
  transition: all 0.4s ease;
}
/* line 57, ../sass/style.scss */
body header#headerComponent.sticky .header-section .logo-and-search .container img {
  max-height: 30px;
  transition: all 0.4s ease;
}
/* line 66, ../sass/style.scss */
body header#headerComponent.sticky .header-section nav.main-nav .container ul {
  padding: 10px 0;
}
/* line 68, ../sass/style.scss */
body header#headerComponent.sticky .header-section nav.main-nav .container ul li {
  font-size: 12px;
  padding: 10px;
  transition: all 0.4s ease;
}
/* line 81, ../sass/style.scss */
body .container {
  z-index: 1;
}
/* line 83, ../sass/style.scss */
body .container.page-wrap {
  min-height: 100%;
  margin-bottom: -150px;
}
/* line 86, ../sass/style.scss */
body .container.page-wrap:after {
  content: "";
  display: block;
  height: 150px;
}
/* line 92, ../sass/style.scss */
body .container #app {
  margin-top: 200px;
  padding-bottom: 40px;
  transition: all 0.4s ease;
}
/* line 97, ../sass/style.scss */
body .container #app.sticky-active {
  margin-top: 140px;
}
/* line 102, ../sass/style.scss */
body .container #app .job-box form {
  background: #e1e1e1;
  padding: 20px;
}
/* line 109, ../sass/style.scss */
body .container #app .job-box form.job-form .job-form-fields .job-field label {
  padding-bottom: 20px;
  width: 100%;
}
/* line 112, ../sass/style.scss */
body .container #app .job-box form.job-form .job-form-fields .job-field label input, body .container #app .job-box form.job-form .job-form-fields .job-field label textarea {
  border: 0;
  font-weight: 300;
  padding: 10px;
  width: 100%;
}
/* line 118, ../sass/style.scss */
body .container #app .job-box form.job-form .job-form-fields .job-field label textarea {
  height: 200px;
}
/* line 131, ../sass/style.scss */
body .container #app .job-box .job-list {
  margin-top: 40px;
}
/* line 133, ../sass/style.scss */
body .container #app .job-box .job-list .job {
  background: #f1f1f1;
  margin-bottom: 20px;
  padding: 20px;
}
/* line 142, ../sass/style.scss */
body footer {
  background: #b2c9db;
  height: 150px;
}
/* line 145, ../sass/style.scss */
body footer:after {
  height: 150px;
}
